<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; text-align:center;  ">
 <h1><%= @user.username %>'s profile</h1>

 <%= gravatar_for @user, size: 200 %>

 <p><button> <%= link_to 'Edit your profile', edit_user_path(@user) %></button> </p>

 <p><button> <%= link_to 'Create new Post', new_post_path %></button> </p>

 <h3>Posts</h3>
  
  <% @posts.each do |post| %>
    <div style="border:1px solid black; margin:2px 0px; width:400px;" >
     by <%= post.user.username if post.user %>
          
        
            <p><strong> Title: </strong><%= link_to post.title, post_path(post)%></p>
            <p> <strong> Topic: </strong><%= post.topic %> </p>
            <p> <strong> Text: </strong><%= truncate(post.text, length: 100) %></p>
            
            <p>
            <button><%= link_to "View", post_path(post) %></button> ||
            
            <button><%= link_to "Edit", edit_post_path(post) %></button> ||
            
            <button><%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %> </button>
            </p>
          
          
            <p>
            Created <%= time_ago_in_words(post.created_at) %> ago, 
            edited <%= time_ago_in_words(post.updated_at) %> ago
            </p>
    </div>
       
  <% end %>

</div>
 



