<h1> SocialApp Posts</h1>

<table> 

          
         <thead>
               <tr>
              <th>Title</th>
              <th>Topic</th>
              <th>Text</strong></th>
              <th>Published</th>
              <th>last_edited</th>
              <th>Actions</th>
              </tr>
         </thead>
         
         <% @posts.each do |p|  %> 
         <tbody>
         <tr> 
         <td> <%= p.title %> </td>
         <td> <%= p.topic %></td>
         <td> <%= p.text %></td>
         <td> <%= p.created_at%></td>
         <td> <%= p.updated_at%></td>
         </tr>
         <% end %>
         </tbody>






</table>