<p> <strong> Title:</strong> <%= @posts.title %> </p>
<p> <strong> Topic:</strong> <%=@posts.topic %></p>
<p> <strong> Text:</strong> <%=@posts.text %></p>
<p> <strong> Published_Date:</strong> <%=@posts.created_at %></p>
<p> <strong> Author:</strong> <%=@posts.user.username %></p>

<p> <%= link_to 'Edit', edit_post_path(@posts)  %>  ||
    <%= link_to 'Delete', post_path(@posts), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> ||
    <%= link_to 'Return to Posts listings', posts_path(@posts) %>
</p> 

